.form {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.form__login {
  display: flex;
  flex-direction: column;
  padding: 0;
  border: 0;
  gap: 30px;
}

.form__reset {
  color: var(--text-color_dark);
  text-decoration: none;
  text-align: center;
  margin-top: -10px;
}
.form__reset:hover {
  text-decoration: underline;
}

.form__buttons {
  display: flex;
  gap: 50px;
}

.form__buttons button {
  width: 100%;
}

.form__title {
  color: var(--text-color_dark);
  margin-bottom: 20px;
}

.form__providers {
  display: flex;
  justify-content: space-around;
}

@media (prefers-color-scheme: dark) {
  .form__reset,
  .form__title {
    color: var(--text-color);
  }
}
