.grid {
  display: grid;
  margin-top: 55px;
  width: 100%;
  grid-template-columns: repeat(auto-fit, var(--card-width));
  align-items: start;
  justify-content: space-between;
  gap: 40px;
  font-size: 1rem;
}

@media screen and (width <= 1220px) {
  .grid {
    padding: 0 20px;
  }
}
