.grid {
  display: grid;
  margin-top: 55px;
  width: 100%;
  grid-template-columns: repeat(8, auto); /* TODO: Example*/
  align-items: start;
  justify-content: space-between;
  gap: 40px 0;
  font-size: 1rem;
}
