@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,400;1,500&display=swap");
/* prettier-ignore */
:root {
  --main-color:           #ebf2fa;
  --main-color_dark:      #0f3f49;

  --text-color:           #ebf2fa;
  --text-color_dark:      #222222;

  --card-color:           #064789;
  --card-color_dark:      #63d471;

  --border-color:         #427aa1;
  --border-color_dark:    #4e7d55;
  --boder-color_contrast: #222222;

  --width:                  1320px;
  --border-radius:          8px;

  --card-width:             115px;
  --card-height:            178px;
  --card-gap:               30px;

  --scroll-size:            10px;
  --scroll-radius:          10px;

  --font-size:              18px;
}

html {
  width: 100%;
  font-size: var(--font-size);
  font-family: "Roboto", sans-serif;
}

body {
  background: var(--main-color);
  width: 100%;
  max-width: var(--width);
  overflow-x: hidden;
  margin: 25px auto;
  overscroll-behavior: contain;

  --scroll-thumb: linear-gradient(45deg, var(--card-color), #80b6de);
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  scrollbar-width: thin;
}
body::-webkit-scrollbar {
  width: var(--scroll-size);
  height: var(--scroll-size);
}
body::-webkit-scrollbar-track {
  background-color: var(--scroll-track);
}
body::-webkit-scrollbar-thumb {
  background-image: var(--scroll-thumb);
  border-radius: var(--scroll-radius);
}

@media (prefers-color-scheme: dark) {
  body {
    background: var(--main-color_dark);
    --scroll-thumb: linear-gradient(45deg, var(--border-color_dark), #82e88e);
  }
}
