.card__wrapper {
  width: var(--card-width);
  min-height: var(--card-height);
  color: var(--text-color);
  position: relative;
  top: calc(var(--is-card-deep) * var(--card-gap));
}

.card {
  border-radius: calc(var(--border-radius) + 2px);
  background-color: var(--card-color);
  width: var(--card-width);
  height: var(--card-height);
  padding: 6px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  cursor: pointer;
  user-select: none;
  position: absolute;
  border: 1px solid transparent;
  transition: box-shadow 0.1s ease-in-out, border 0.1s ease-in-out;
  transition: all 0.1s linear;
}
.card__first.card_focus {
  box-shadow: 0 0 10px var(--border-color);
}
.card_border {
  border: 1px solid var(--main-color);
}
.card_focus {
  border: 1px solid var(--border-color);
}

.card__dragging {
  opacity: 0;
}

.card__title_center {
  align-self: center;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 2.67rem;
}

.card__title_bottom {
  align-self: end;
}

.card__removed {
  opacity: 0;
  transition: opacity 0.1s linear;
}

@media (prefers-color-scheme: dark) {
  .card__wrapper {
    color: var(--text-color_dark);
  }
  .card {
    background-color: var(--card-color_dark);
  }
  .card__first.card_focus {
    box-shadow: 0 0 10px var(--border-color_dark);
  }
  .card_border {
    border: 1px solid var(--boder-color_contrast);
  }
  .card_focus {
    border: 1px solid var(--main-color);
  }
}
