.header {
	display: flex;
	align-items: center;
	gap: 50px;
}
.mapid {
	font-weight: 500;
}
.main {
	margin-top: 35px;
}

@media (prefers-color-scheme: dark) {
	.mapid {
		color: var(--main-color);
	}
}
