.modal_overlay {
  background-color: var(--modal-background);
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  cursor: pointer;
  animation: show_overlay 0.1s ease-in forwards;
}

.modal__wrapper {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.modal {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  z-index: 10;
}

.modal__content {
  background-color: var(--main-color);
  padding: 20px 30px;
  border-radius: var(--border-radius);
  z-index: 10;
  position: relative;
  animation: show_modal 0.2s ease-in forwards;
}

@keyframes show_overlay {
  0% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}

@keyframes show_modal {
  0% {
    opacity: 0;
    transform: translateY(-40px);
  }
  100% {
    opacity: 1;
  }
}

.modal__times {
  position: absolute;
  top: 0;
  right: 10px;
  color: black;
  font-size: 2rem;
  cursor: pointer;
}
.modal__times:hover,
.modal__times:focus {
  color: #666;
}
