.info {
  color: var(--text-color_dark);
  min-width: 160px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.info__content {
  width: 96px;
  height: 100%;
  border: 3px solid var(--border-color);
  border-radius: var(--border-radius);
  margin-left: 15px;

  text-align: center;
  line-height: 2em;
}
